{
    "tabWidth": 4,
    "arrowParens": "always",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "proseWrap": "preserve",
    "trailingComma": "all",
    "singleQuote": false,
    "semi": false,
    "quoteProps": "consistent"
}
